<section class="default-padding-section bg-brand-default">
  <div class="container">
    <div class="row align-items-center justify-content-center row-gap-2xl">
      {{ 'build-with-us' | global_editable: class: 'col-12 d-flex flex-column row-gap-base' }}

      <div class="col-12 d-flex align-items-center justify-content-center">
        <a href="/kontakt" class="neutral-button-primary text-decoration-none">
          {{ "Kontakta oss" | t }}
        </a>
      </div>
    </div>
  </div>
</section>