<footer class="">
  {{ 'new_footer' | global_editable: class: 'container' }}
</footer>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
<script src="{{ 'components_import.js' | template_path }}" type="module"></script>
<script src="{{ 'utils.js' | template_path }}" type="module"></script></body></html>