<top-element style="z-index: 10;">
  <modal-component id="main-menu">
    <div class="main-menu--mobile padding-y-xl">
      {{ 'full' | menu: 'd-flex flex-column' }}
    </div>
  </modal-component>
</top-element>